*{
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
}

div.div{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    background-color: lightblue;
}

.inicioSession{
    font-size:xx-large;
    background-color: lightblue;
    margin: 0px auto;
}

.general{
    background-color: lightseagreen;
    text-decoration: none;
    border: yellow solid 1px;
    font-size: x-large;
}

.a_fil{
    display: block;
    background-color: lightblue;
    padding-top: 30px;
    text-align: center;
}

img.logo{
    width: 100px;
    height: 125px;
    background-color: lightblue;
}

